    
    <!-- We can now combine rows and columns when there's only one column in that row -->
    <div class="row">
      <div class="column small-4 small-offset-2">
        <p>{{aboutContent}}</p>
      </div>
      <div class="column small-4 end">
        <img class="thumbnail" src="{{aboutImagePath}}"/>
      </div>
    </div>
</html>


    