<div class="row">
  <div class="medium-10 medium-centered large-8 large-centered columns">

    <form action="/article/add" method="post">
      <div class="new-article-form">
        <h4 class="text-center">Add a new blog article</h4>
        <label>Title
          <input type="text" name="title" placeholder="Article Title">
        </label>
        <label>Date
          <input type="text" name="date" placeholder="DD/MM/YYYY">
        </label>
        <label>HTML Body Content
          <input type="text" name="content" placeholder="Paste HTML Here">
        </label>
        <label>Homepage 'Teaser' Image
          <input type="file" name="teaserImage">
        </label>
        <label>Main Article Image
          <input type="file" name="image">
        </label>
        <p><input type="submit" class="button expanded" value="Add article"></p>
      </div>
    </form>

  </div>
</div>