    <div class="row medium-8 large-7 columns">
      
      <div class="blog-image">
        <img class="thumbnail" src="{{articleTopImagePath}}"/>
      </div>

      <div class="blog-post-content">

        {{{articleContent}}}

      </div>

    </div>