
@font-face {font-family: "Simplifica";
    src: url("../fonts/simplifica/simplifica.ttf") format("truetype");
}

body {
	background-color: white;
    font-family: 'Simplifica', "Helvetica Neue", Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: 'Simplifica', "Helvetica Neue", Arial, sans-serif;
}

h1 {
	font-size: 4rem;
}

p {
	font-family: Arial, sans-serif;
	font-size: 0.9rem;
}

.blog-post-content ul, .blog-post-content ol {
	font-family: Arial, sans-serif;
	font-size: 0.9rem;
}

a { 
	color: black; 
}

a:hover {
	color: #8a8a8a;
}

button.menu-icon {
	margin-right: 10px;
}

.top-bar-title {
	padding: 0;
}

.menu { 
	font-size: 1.2rem; 
}

.menu > li { 
	font-size: 1.2rem; 
}

.menu > li.menu-text > a {
	font-size: 2.0rem;
	padding: 0;
	text-transform: uppercase;
	letter-spacing: 0.15rem;
}

input.search {
	border: none;
    box-shadow: none;
    background-color: transparent;
}

.top-bar, .top-bar ul {
	background-color: white;
}

.callout {
	border: none;
}

.callout.large {
	padding: 3rem 3rem 3rem 3rem;
}

.callout.large h1 {
	letter-spacing: 0.15rem;
	text-transform: uppercase;
}

.blog-image {
	height: 490px;
	overflow: hidden;
	margin-bottom: 1rem;
}

.thumbnail {
	border: none;
	box-shadow: none;
}

.blog-tile {
	display: block;
	position: relative;
}

.blog-tile:hover {
	color: black;
}

.blog-tile:hover .blog-meta {
	opacity: 0.9;
}

.blog-meta {
	padding: 10px 12px 15px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 25px;
    background: #fff;
    opacity: 0.8;
    text-align: left;
    height: 100px;
}

.blog-meta h4 {
	line-height: 1;
	margin-bottom: 0;
}

.blog-snippet {
	margin-bottom: 3rem;
}

.blog-post-content a {
	color: #8a8a8a;
}

.blog-post-content a:hover {
	text-decoration: underline;
}

.site-footer {
    line-height: 1.5;
    width: 100%;
    letter-spacing: 0.15rem;
    padding-top: 1rem;
}

.site-footer .design {
	text-align: right;
}


