<footer class="site-footer">
	<div class="row">
	  <div class="small-6 columns">
	    <span>© 2017 THE MILLIE EFFECT</span>
	  </div>
	  <div class="small-6 columns design">
	    <span>Design by Sir Bobalot</span>
	  </div>
	</div>
</footer>